<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Welocme {{userName}}</h1>
					<p class="lead">Your list</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p class="pad-change">Found <span>{{list?.length}}</span> shows</p>
				</div>
				<div class="row">
					<div class="col-md-12" *ngFor="let item of favoritesList">
						<div class="ceb-item-style-2">
							<img [src]="item.image" alt="">
							<div class="ceb-infor">
								<h2><a [href]="item.url">{{item.name}}</a></h2>
								<p [innerHTML]="item.summary"> </p>
								<p>{{item.rating}}/10</p>
								<i *ngFor="let indx of rateMovie" class="orange fas fa-star"></i><br>
								<!-- <button style="height:5rem; width: 8rem; background-color: rgb(19, 92, 19); color: white;
								outline: none; border-radius: 30%; font-size: 0.9rem;">Remove movie</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
