<div class="movie-item">
  <div class="mv-img img-thumbnail">
      <img [src]="show.image.medium" alt="" width="200" height="300">
  </div>
  <div class="hvr-inner">
      <a href="/singleShow/{{show.name}}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
  </div>
  <div class="title-in">
      <h6><a href="#">{{show.name}}</a></h6>
      <!-- <p><ion-icon class="orange" name="star"></ion-icon><span>{{show.rating.average}}</span> /10</p> -->
      <p><span>{{show.rating.average}}</span> /10</p>
  </div>
</div>
