<div class="hero user-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>Admin DashBoard</h1>
          <ul class="breadcumb">
            <li class="active"><a href="#">Home</a></li>
            <li><span class="ion-ios-arrow-right"></span>Shows</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="buster-light">
  <div class="page-single">
    <div class="container">
      <div class="row ipad-width2">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="user-information">
            <div class="user-img">
              <a href="#"
                ><img src="/assets/files/images//uploads/user-img.png" alt="" /><br
              /></a>
              <h4>Admin Name</h4>
              <br>
              <a href="#" class="redbtn">Change avatar</a>
            </div>
            <div class="user-fav">
              <p>Dashboard</p>
              <ul>                
                <li class="active">
                  <a href="userfavoritelist">Shows</a>
                </li>
                <li><a href="userrate">Users</a></li>
                <li><a href="userrate">Link</a></li>
                <li><a href="userrate">Link</a></li>
                <li><a href="userrate">Link</a></li>
                <li><a href="userrate">Link</a></li>
                <li><a href="userrate">Link</a></li>
                <li><a href="userrate">Link</a></li>
              </ul>
            </div>
            <div class="user-fav">
              <p>Profile</p>
              <ul>
                <li><a href="#">Change password</a></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <button type="button" data-toggle="modal" data-target="#myModal" class="redbtn pull-right">Add new</button>
          <div class="topbar-filter user">
            <p>Found <span>1,608 movies</span> in total</p>
            <label>Sort by:</label>
            <select>
              <option value="range">-- Choose option --</option>
              <option value="saab">-- Choose option 2--</option>
            </select>
            <a href="userfavoritelist" class="list"
              ><i class="ion-ios-list-outline"></i
            ></a>
            <a href="userfavoritegrid" class="grid"
              ><i class="ion-grid active"></i
            ></a>
          </div>
          <div class="flex-wrap-movielist grid-fav">
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv1.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">oblivion</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>8.1</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv2.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">into the wild</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.8</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item3.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">Die hard</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>

            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item4.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">The walk</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv3.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">blade runner </a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.3</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv4.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">Mulholland pride</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.2</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv5.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">skyfall: evil of boss</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.0</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item1.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">Interstellar</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item2.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">The revenant</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-it10.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">harry potter</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-it11.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">guardians galaxy</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-it12.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">the godfather</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item6.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">blue velvet</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item7.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">gravity</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item8.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">southpaw</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-it9.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">jurassic park</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item9.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">the forest</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item10.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">spectre</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item11.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">strager things</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
            <div class="movie-item-style-2 movie-item-style-1 style-3">
              <img src="/assets/files/images//uploads/mv-item12.jpg" alt="" />
              <div class="hvr-inner">
                <a href="moviesingle">
                  Delete show <i class="ion-android-arrow-dropright"></i>
                </a>
              </div>
              <div class="mv-item-infor">
                <h6><a href="moviesingle">la la land</a></h6>
                <p class="rate">
                  <i class="ion-android-star"></i><span>7.4</span> /10
                </p>
              </div>
            </div>
          </div>
          <div class="topbar-filter">
            <label>Movies per page:</label>
            <select>
              <option value="range">20 Movies</option>
              <option value="saab">10 Movies</option>
            </select>

            <div class="pagination2">
              <span>Page 1 of 2:</span>
              <a class="active" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">...</a>
              <a href="#">78</a>
              <a href="#">79</a>
              <a href="#"><i class="ion-arrow-right-b"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add new modal -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new show</h4>
      </div>      
      <div class="modal-body">
        <form class="form-style-1 celebrity-form" action="#">
          <div class="row">
            <div class="col-md-12 form-it">
              <label>Show name</label>
              <input type="text" placeholder="Enter name">
            </div>
            <div class="col-md-12 form-it">
              <label>show genres</label>
              <select>
                <option value="range">A</option>
                <option value="saab">B</option>
              </select>
            </div>
            <div class="col-md-12 form-it">
              <label>Category</label>
              <select>
                <option value="range">Actress</option>
                <option value="saab">Others</option>
              </select>
            </div>
            <div class="col-md-12 form-it">
              <label>Year of birth</label>
              <div class="row">
                <div class="col-md-6">
                  <select>
                    <option value="range">1970</option>
                    <option value="number">Other</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select>
                    <option value="range">1990</option>
                    <option value="number">others</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12 ">
              <input class="submit" type="submit" value="submit">
            </div>
          </div>
        </form>           
    </div>

  </div>
</div>
