<div class="hero mv-single-hero" [ngStyle]="{ 'background': 'url(' + movieData['imageOriginal'] + ') center center'}">
    <!-- <div class="hero mv-single-hero"> -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div> -->
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img">
                    <img [src]="movieData['imageOriginal']" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="far fa-play-circle"></i> Watch
                                    Trailer</a>
                            </div>
                            <div><a href="https://www.youtube.com/embed/o-0hcF97wy0"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i
                                        class="far fa-play-circle"></i></a>
                            </div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a href="#" class="item item-1 yellowbtn"> <i class="fas fa-shopping-cart"></i> Buy
                                    ticket</a>
                            </div>
                            <div><a href="#" class="item item-2 yellowbtn"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">{{movieData["name"]}}</h1>
                    <div class="social-btn" *ngIf="isLogged && !isAdmin">

                        <a class="parent-btn" (click)="addToFavourite()"  data-toggle="modal" data-target="#favoriteModal"><i
                                class="fas fa-heart"></i> Add to Favorite</a>
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn" data-toggle="modal" data-target="#favoriteModal"><i
                                    class="fas fa-share-alt"></i>share</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="fab fa-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="fab fa-google-plus"></i></a>
                                <a href="#" class="hvr-grow"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="orange fas fa-star"></i>
                            <p><span>Rating:</span> </p>
                        </div>
                        <div class="rate-star">
                            <p>Rating Of This Movie: <span>{{movieData["rating"]}}</span> </p>
                            <i *ngFor="let indx of rateMovie" class="orange fas fa-star"
                                [title]="movieData['rating']+'/10'"></i>
                            <i *ngFor="let indx of notRateMovie" class="fas fa-star"
                                [title]="movieData['rating']+'/10'"></i>
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#">
                                        <h3>Overview</h3>
                                    </a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <!--summary-->
                                            <div class="title-hd-sm">
                                                <h4>Summary</h4>
                                            </div>
                                            <div class="mvsingle-item ov-item">
                                                <p [innerHTML]="movieData['summary']"></p>
                                            </div>
                                            <!--URL-->
                                            <div class="title-hd-sm">
                                                <h4>URL</h4>
                                                <a href="#" class="text-light">{{movieData["url"]}}</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">

                                            <div class="sb-it">
                                                <h6>Genres:</h6>
                                                <p>
                                                    <a href="#" *ngFor="let gen of movieData['genres']">{{gen}}, </a>
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Channel:</h6>
                                                <p>{{movieData['channel']}}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Type:</h6>
                                                <p>{{movieData['type']}}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Run Time:</h6>
                                                <p> {{movieData['runtime']}} </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Rating:</h6>
                                                <p>{{movieData['rating']}}</p>
                                            </div>
                                            <!-- <div class="ads">
                                                <img src="images/uploads/ads1.png" alt="">
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="login-wrapper" id="FavoriteModal">
            <div class="login-content">
                <h3 style="margin-top:3em">Added to Favorite</h3>
            </div>
        </div> -->


<!--modal-->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="favoriteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Added To Favorite List </h4>
            </div>
        </div>
    </div>
</div>
