<!--preloading-->
<div id="preloader">
    <img class="logo" src="/assets/files/images/logo_200x200.png" alt="" width="119" height="58"> 
    <div class="brand logo">Moviex</div>
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="login.php">
            <div class="row">
                <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <div class="remember">
                    <div>
                        <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                    </div>
                    <a href="#">Forget password ?</a>
                </div>
            </div>
            <div class="row">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="row">
            <p>Or via social</p>
            <div class="social-btn-2">
                <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="signup.php">
            <div class="row">
                <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <button type="submit">sign up</button>
            </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index.html"><div class="brand">Moviex</div></a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li  (click)="routeHome()">
                        <a class="btn btn-default  lv1" >
                            Home 
                        </a>
                       
                    </li>
                    <!-- <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            movies<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movie grid<i class="ion-ios-arrow-forward"></i></a>
                                <ul class="dropdown-menu level2">
                                    <li><a href="moviegrid.html">Movie grid</a></li>
                                    <li><a href="moviegridfw.html">movie grid full width</a></li>
                                </ul>
                            </li>
                            <li><a href="movielist.html">Movie list</a></li>
                            <li><a href="moviesingle.html">Movie single</a></li>
                            <li class="it-last"><a href="seriessingle.html">Series single</a></li>
                        </ul>
                    </li> -->                   
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">   
                                                   
                    <li class=""><a href="/dashboard/shows">Dashboard</a></li>
                    <li class="loginLink"><a href="#">LOG In</a></li>
                    <li class="btn signupLink"><a href="#">sign up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
      
    </div>
</header>



<div class="modal  p-4" id="signInModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--modal header-->
            <div class="modal-header" id="modalHeader">
                <div class="modal-title d-flex justify-content-center">
                    <h2>SIGN UP</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="" target="_blank">
                    <div class="form-group">
                        <label>USERNAME:</label>
                        <input class="form-control" type="text" name="Name" required placeholder="username">

                        <label>EMAIL:</label>
                        <input class="form-control" type="text" name="Email" required placeholder="E-mail">

                        <label>YOUR PASSWORD:</label>
                        <input class="form-control" type="text" name="Message" required placeholder="password">
                        <label>RE-TYPE PASSWORD:</label>
                        <input class="form-control" type="text" name="Message" required placeholder="re-type password">
                    </div>
                    <div class="row p-2  d-flex justify-content-center ">
                        <button type="submit" class="btn  btn-lg shadow-lg rounded-pill SignBtn">SIGN UP</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
<div class="modal  p-4" id="logInModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--modal header-->
            <div class="modal-header" id="modalHeader">
                <div class="modal-title d-flex justify-content-center">
                    <h2>LOGIN</h2>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="" target="_blank">
                    <div class="form-group">
                        <label>USERNAME:</label>
                        <input class="form-control" type="text" name="Name" required placeholder="username">
                        <label>YOUR PASSWORD:</label>
                        <input class="form-control" type="text" name="Message" required placeholder="password">
                    </div>
                    <div class="row p-2  d-flex justify-content-center ">
                        <button type="submit" class="btn  btn-lg shadow-lg rounded-pill SignBtn">LOGIN</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
