<header class="ht-header">
	<div class="container mt-1">
		<nav class="navbar navbar-expand-lg navbar-dark text-light d-fixed">
			<div class="navbar-header logo">
				<a href="#"><img class="logo" src="../../assets/imgs/logo1.png" alt="" width="119" height="58"></a>
			</div>

			<div class="navbar-nav ml-auto">

				<form class="form-inline my-2 my-lg-0 text-light">
					<button class="btn rounded-pill  my-2 my-sm-0 text-light" type="button">LOG In</button>
					<button class="btn rounded-pill SignBtn  my-2 my-sm-0" type="button">Sign up</button>
				</form>
			</div>
		</nav>
		<div class="mt-5 top-search">
	    	<select >
				<option value="united">TV show</option>
				<option value="saab">Others</option>
			</select>
			<input class="input-field" type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for" >
				<i class="fa fa-search icon " ></i>
		</div>
	</div>
</header>