<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 item1">
				 <a href="index.html"><img class="logo" src="/assets/files/images/logo_200x200.png" width="100"></a>
				 <p>
					 Watch your favorite shows and movies.
					 <br>
					 now on Moviex
				 </p>				
			</div>
			<div class="col-md-4 item2">
				<h4>More links</h4>
				<ul>
					<li><a routerLink="/contact">Contact Us</a></li>
					<li><a routerLink="/login">Login</a></li> 
					<li><a routerLink="/register">Register</a></li>
					
				</ul>
			</div>					
			<div class="col-md-4 item5">
				<h4>Send us a message</h4>
				<p>Send us a message now <br> we can not wait to hear from you.</p>
				<div id="sendUsMessage">
					<textarea id="messageContent" style="height: 51px;" rows="6" placeholder="Enter Your message"></textarea>
					<button onclick="sendMsg()" class="redbtn">Send <i class="fas fa-arrow-right"></i></button>
				</div>
				
				<p id="sent" class="alert alert-success">Your default email is opening .. Thanks for messaging us.</p>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2021 Moviex. All Rights Reserved.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="fas fa-arrow-up"></i></a></p>
		</div>
	</div>
</footer>


