#sent{
    display: none;
}
.ht-footer h4{
    color: #fff;
    padding-top:10px;
    text-align: center
}
.ht-footer .container{
    padding-bottom: 4em;
}

.ht-footer{
    text-align: center;
    padding: 50px 0px 10px 0px;
}
.item2 li{
    padding-top: 8px;
}
.item2 a{
    color: #555;
}
.item2 a:hover{
    color: #fff;
}
#sendUsMessage{
    position: relative;
}
#sendUsMessage button{
    position: absolute;
    top: 0;
    right: 0;
}