<div class="hero user-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-ct">
            <h1>Admin DashBoard</h1>
            <ul class="breadcumb">
              <li class="active"><a href="/">Home</a></li>
              <li><span class="ion-ios-arrow-right"></span>Users</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buster-light">
    <div class="page-single">
      <div class="container">
        <div class="row ipad-width2">
        <app-dash-side-bar></app-dash-side-bar>
          <div class="col-md-9 col-sm-12 col-xs-12">
           
            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  