
<div class="col-md-9">

    <!--Starting items-->
        <div class="row" style="margin-top:15px">
            <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let show of pagedItems">                
                <app-movie [show]="show"></app-movie>
            </div>
        </div>

    
        

          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li *ngIf="pager.currentPage>1">
                <a (click)="setPage(1)">First</a>
            </li>
            <li *ngIf="pager.currentPage>1">
                <a (click)="setPage(pager.currentPage - 1)">Prev</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li *ngIf="pager.currentPage<pager.totalPages">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li *ngIf="pager.currentPage<pager.totalPages">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
</div>

