h3{
  color: #abb7c4;
  margin-bottom: 10px!important;
}
p{
  cursor: pointer;
  padding: 6px;
}
p:hover{
  background: #000;
}
.sidebar-desktop{
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.sidebar-mobile{
  @media screen and (min-width: 992px) {
    display: none;
  }
}
